# Python stuff
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.so

# Virtualenv
env/
venv/
ENV/
.venv/
.venv*/
.env
.env.*
*.env
*.env.*

# Django stuff
*.db
db.sqlite3
/media/
/staticfiles/
local_settings.py
mac/mac/settings.py
# Secrets & keys
*.pem
*.key
*.crt
*.token
*.secret
secrets.json

# VS Code / IDE
.vscode/
.idea/

# Node modules (if using npm for frontend)
node_modules/
package-lock.json
yarn.lock

# OS files
.DS_Store
Thumbs.db

# Coverage & testing
htmlcov/
.coverage
.tox/
.cache/
.pytest_cache/

# Migrations (optional: only if you want to ignore them)
**/migrations/
!**/migrations/__init__.py  # Keep __init__.py so Django detects the app

# Build
build/
dist/
*.egg-info/

# Git
*.orig

GOOGLE_CLIENT_ID=xxxxxxxxxxxx
GOOGLE_CLIENT_SECRET=xxxxxxxxxxxx
