{% extends 'shop/basic.html' %}
{% block title %}Tracker - My SHOP{% endblock %}
{% block body %}
<div class="container">
    <div class="col my-4">
        <h2 class="d-flex justify-content-center align-items-center">My Shop Cart Express Tracker - Enter Your Order_id and Email address to Track your Order.</h2>
        <form action="#" id="trackerForm" class="row g-3" method="post"> {% csrf_token %}
              <div class="col-md-6 fw-bold my-4">
                <label for="OrderId" class="form-label">Order ID</label>
                <input type="text" class="form-control" id="OrderId" name="OrderId" placeholder="Enter Your Order Id">
              </div>
              <div class="col-md-6 fw-bold my-4">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary fw-bold">Track Order</button>
              </div>
        </form>
    </div>
    <div class="col my-4">
        <h2 class="d-flex justify-content-center align-items-center">Your Order Status</h2>
        <div class="my-4">
            <ul class="list-group" id="items">
                <b class="d-flex justify-content-center align-items-center">*****Enter Your Order Id and Email and Click Track Order to find details about your order!*****</b>
            </ul>
        </div>
        <h2 class="d-flex justify-content-center align-items-center">Your Order Details!</h2>
        <div class="my-4">
            <ul class="list-group" id="citems">
                
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block css %}
{% endblock %}
{% block js %}
<script>
    $('#trackerForm').submit(function(event){
        $('#items').empty();
        var formData = {
            'OrderId' : $('input[name=OrderId]').val(),
            'email' : $('input[name=email]').val(),
            'csrfmiddlewaretoken' : $('input[name=csrfmiddlewaretoken]').val(),
        };

    $.ajax({
        type : 'POST',
        url : '/shop/tracker/',
        data : formData,
        encode : true,
        success : function(data){
            console.log(data);
            data = JSON.parse(data);
            let updates = data[0];
            let cart = JSON.parse(data[1]);
            console.log(cart);
            for(item in cart){
                let name = cart[item][1];
                let qty = cart[item][0];
                mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                          ${name}
                          <span class="badge text-bg-primary rounded-pill">${qty}</span>
                        </li>`
                $('#citems').append(mystr);
              }
            if (updates.length>0 & updates != {}){
            for(i=0; i<updates.length; i++){
                let text = updates[i]['text'];
                let time = updates[i]['time'];
                
                mystr = `<li class="list-group-item d-flex align-items-center fw-bold" 
                style="justify-content: space-between !important; text-align: left;">
               <span style="flex: 1;">${text}</span>
               <span class="badge text-bg-primary rounded-pill">${time}</span>
           </li>`;
                $('#items').append(mystr);
              }
            }
            else{
                mystr = `<li class="list-group-item d-flex justify-content-between align-items-center fw-bold">
                    ****SORRY, We are not able to fetch this order id and email. Make sure to type correct order id and email.****</li>`
                $('#items').append(mystr);
            }
        }

        //Fill in the order details
        //cart = data[1];
        //console.log(cart);
        
    });

    event.preventDefault();

    });
</script>
{% endblock %}