<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome To My Shop!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body class="bg-light">

    <div class="container vh-100 d-flex flex-column justify-content-center align-items-center text-center">
      <div class="bg-white p-5 rounded-4 shadow-lg w-100" style="max-width: 700px;">
        <h1 class="display-4 fw-bold text-primary mb-3">
          🛒 Welcome to <span class="text-dark">My Shop!</span>
        </h1>
        <p class="lead text-secondary mb-4 fw-bold">
            Step into a world of unbeatable deals and top-notch products at <strong>My Shop</strong>!<br>
            Whether you're hunting for the latest gadgets, stylish apparel, or everyday essentials, we’ve got everything you need — all in one place. Enjoy fast delivery, secure checkout, and a seamless shopping experience tailored just for you.
        </p>
        <a href="shop/" class="btn btn-lg btn-outline-primary px-5 py-2 fw-semibold shadow-sm">
          <i class="bi bi-shop me-2"></i> Enter Shop
        </a>
      </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
  </body>
</html>
